In [1]:
import polars as pl

In [2]:
columns = [
    "Transaction_unique_identifier",
    "price",
    "Date_of_Transfer",
    "postcode",
    "Property_Type",
    "Old/New",
    "Duration",
    "PAON",
    "SAON",
    "Street",
    "Locality",
    "Town/City",
    "District",
    "County",
    "PPDCategory_Type",
    "Record_Status - monthly_file_only",
]
df = pl.read_csv("data/202304.csv", has_header=False)
df.columns = columns

df.head()

shape: (5, 16)
┌────────────┬───────┬────────────┬──────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ Transactio ┆ price ┆ Date_of_Tr ┆ postcode ┆ … ┆ District   ┆ County     ┆ PPDCatego ┆ Record_St │
│ n_unique_i ┆ ---   ┆ ansfer     ┆ ---      ┆   ┆ ---        ┆ ---        ┆ ry_Type   ┆ atus -    │
│ dentifier  ┆ i64   ┆ ---        ┆ str      ┆   ┆ str        ┆ str        ┆ ---       ┆ monthly_f │
│ ---        ┆       ┆ str        ┆          ┆   ┆            ┆            ┆ str       ┆ ile_onl…  │
│ str        ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆ ---       │
│            ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆ str       │
╞════════════╪═══════╪════════════╪══════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ {F887F88E- ┆ 70000 ┆ 1995-07-07 ┆ MK15 9HP ┆ … ┆ MILTON     ┆ MILTON     ┆ A         ┆ A         │
│ 7D15-4415- ┆       ┆ 00:00      ┆          ┆   ┆ KEYNES     ┆ KEYNES     ┆           ┆           │
│ 804E-52EAC ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ 2F…        ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ {40FD4DF2- ┆ 44500 ┆ 1995-02-03 ┆ SR6 0AQ  ┆ … ┆ SUNDERLAND ┆ TYNE AND   ┆ A         ┆ A         │
│ 5362-407C- ┆       ┆ 00:00      ┆          ┆   ┆            ┆ WEAR       ┆           ┆           │
│ 92BC-566E2 ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ CC…        ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ {7A99F89E- ┆ 56500 ┆ 1995-01-13 ┆ CO6 1SQ  ┆ … ┆ BRAINTREE  ┆ ESSEX      ┆ A         ┆ A         │
│ 7D81-4E45- ┆       ┆ 00:00      ┆          ┆   ┆            ┆            ┆           ┆           │
│ ABD5-566E4 ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ 9A…        ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ {28225260- ┆ 58000 ┆ 1995-07-28 ┆ B90 4TG  ┆ … ┆ SOLIHULL   ┆ WEST       ┆ A         ┆ A         │
│ E61C-4E57- ┆       ┆ 00:00      ┆          ┆   ┆            ┆ MIDLANDS   ┆           ┆           │
│ 8B56-566E5 ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ 28…        ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ {444D34D7- ┆ 51000 ┆ 1995-06-28 ┆ DY5 1SA  ┆ … ┆ DUDLEY     ┆ WEST       ┆ A         ┆ A         │
│ 9BA6-43A7- ┆       ┆ 00:00      ┆          ┆   ┆            ┆ MIDLANDS   ┆           ┆           │
│ B695-4F489 ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
│ 80…        ┆       ┆            ┆          ┆   ┆            ┆            ┆           ┆           │
└────────────┴───────┴────────────┴──────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [3]:
df.describe()

shape: (9, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ describe  ┆ Transacti ┆ price     ┆ Date_of_T ┆ … ┆ District  ┆ County   ┆ PPDCatego ┆ Record_St │
│ ---       ┆ on_unique ┆ ---       ┆ ransfer   ┆   ┆ ---       ┆ ---      ┆ ry_Type   ┆ atus -    │
│ str       ┆ _identifi ┆ f64       ┆ ---       ┆   ┆ str       ┆ str      ┆ ---       ┆ monthly_f │
│           ┆ er        ┆           ┆ str       ┆   ┆           ┆          ┆ str       ┆ ile_onl…  │
│           ┆ ---       ┆           ┆           ┆   ┆           ┆          ┆           ┆ ---       │
│           ┆ str       ┆           ┆           ┆   ┆           ┆          ┆           ┆ str       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ count     ┆ 28276228  ┆ 2.8276228 ┆ 28276228  ┆ … ┆ 28276228  ┆ 28276228 ┆ 28276228  ┆ 28276228  │
│           ┆           ┆ e7        ┆           ┆   ┆           ┆          ┆           ┆           │
│ null_coun ┆ 0         ┆ 0.0       ┆ 0         ┆ … ┆ 0         ┆ 0        ┆ 0         ┆ 0         │
│ t         ┆           ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
│ mean      ┆ null      ┆ 218130.49 ┆ null      ┆ … ┆ null      ┆ null     ┆ null      ┆ null      │
│           ┆           ┆ 0099      ┆           ┆   ┆           ┆          ┆           ┆           │
│ std       ┆ null      ┆ 868852.44 ┆ null      ┆ … ┆ null      ┆ null     ┆ null      ┆ null      │
│           ┆           ┆ 969       ┆           ┆   ┆           ┆          ┆           ┆           │
│ min       ┆ {000000AC ┆ 1.0       ┆ 1995-01-0 ┆ … ┆ ABERCONWY ┆ AVON     ┆ A         ┆ A         │
│           ┆ -478E-47B ┆           ┆ 1 00:00   ┆   ┆           ┆          ┆           ┆           │
│           ┆ 3-9B71-7C ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆ 1E9BB…    ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
│ 25%       ┆ null      ┆ 84950.0   ┆ null      ┆ … ┆ null      ┆ null     ┆ null      ┆ null      │
│ 50%       ┆ null      ┆ 149950.0  ┆ null      ┆ … ┆ null      ┆ null     ┆ null      ┆ null      │
│ 75%       ┆ null      ┆ 247500.0  ┆ null      ┆ … ┆ null      ┆ null     ┆ null      ┆ null      │
│ max       ┆ {FFFFFE71 ┆ 5.943e8   ┆ 2023-04-2 ┆ … ┆ YORK      ┆ YORK     ┆ B         ┆ A         │
│           ┆ -D9FC-423 ┆           ┆ 7 00:00   ┆   ┆           ┆          ┆           ┆           │
│           ┆ 2-AD14-81 ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆ 9C838…    ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────────┘

In [5]:
df[0]

shape: (1, 16)
┌─────────────┬───────┬─────────────┬──────────┬───┬────────────┬────────┬────────────┬────────────┐
│ Transaction ┆ price ┆ Date_of_Tra ┆ postcode ┆ … ┆ District   ┆ County ┆ PPDCategor ┆ Record_Sta │
│ _unique_ide ┆ ---   ┆ nsfer       ┆ ---      ┆   ┆ ---        ┆ ---    ┆ y_Type     ┆ tus - mont │
│ ntifier     ┆ i64   ┆ ---         ┆ str      ┆   ┆ str        ┆ str    ┆ ---        ┆ hly_file_o │
│ ---         ┆       ┆ str         ┆          ┆   ┆            ┆        ┆ str        ┆ nl…        │
│ str         ┆       ┆             ┆          ┆   ┆            ┆        ┆            ┆ ---        │
│             ┆       ┆             ┆          ┆   ┆            ┆        ┆            ┆ str        │
╞═════════════╪═══════╪═════════════╪══════════╪═══╪════════════╪════════╪════════════╪════════════╡
│ {F887F88E-7 ┆ 70000 ┆ 1995-07-07  ┆ MK15 9HP ┆ … ┆ MILTON     ┆ MILTON ┆ A          ┆ A          │
│ D15-4415-80 ┆       ┆ 00:00       ┆          ┆   ┆ KEYNES     ┆ KEYNES ┆            ┆            │
│ 4E-52EAC2F… ┆       ┆             ┆          ┆   ┆            ┆        ┆            ┆            │
└─────────────┴───────┴─────────────┴──────────┴───┴────────────┴────────┴────────────┴────────────┘